<!-- templates/mostrar_info_usuario.html -->
{% extends 'base.html' %}

{% block title %}Informações do Usuário{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações do Usuário</title>
    <style>
        body {
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px; /* Adiciona um espaço entre as tabelas */
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Informações Capturadas</h1>
    <p>Abaixo estão as informações que coletamos enquanto você navega no nosso site:</p>
    
    {% for info in info_usuario_lista %}
        <h2>Iteração {{ forloop.counter }}</h2>
        <table>
            <tbody>
                {% for key, value in info.items %}
                    <tr>
                        <td><strong>{{ key }}</strong></td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    {% endfor %}
    
    <h2>Teclas Pressionadas</h2>
    <p>{{ keys_pressed }}</p>
    
</body>
{% endblock %}
